.controller { border: 1px solid white; position:fixed; width: 280px; height:100px; bottom: 0; left: 40px; background-color:gray; }
.controller .controller-btn { position: absolute; border: 1px solid limegreen; }

.controller .controller-arrow { width: 32px; height:32px; background-color: black; }
.controller .controller-button { width: 32px; height:32px; border-radius:16px; background-color:red; }
.controller .controller-options { width: 32px; height:10px; border-radius:4px; background-color:black; color: white; transform: rotate(-45deg); top: 50px; }

.controller .controller-up, .controller .controller-down { left:50px }
.controller .controller-up { top:15px; }
.controller .controller-down { top:50px; }

.controller .controller-left, .controller .controller-right { top: 32px; }
.controller .controller-left { left:16px }
.controller .controller-right { left:85px }

.controller .controller-a { top:45px; left:200px }
.controller .controller-b { top:45px; left:240px }

.controller .controller-start { left: 160px; }
.controller .controller-select { left: 120px; }

.controller .controller-active { background-color: yellow;}
