
.dr-mario .pill-bottle-root { display: inline-block; }
.dr-mario .pill-bottle-root .pill-bottle-status { display: inline-block; }
.dr-mario .pill-bottle-root canvas.pill-bottle-canvas { border: 1px solid gainsboro; display: inline-block; }