body { background: black; color: white; width: 480px; margin:auto;}

#opponents { position: fixed; right: 5px; top: 5px; }
#multi-rooms-table { border:1px solid white; border-collapse: collapse;}
#multi-rooms-table th, #multi-rooms-table td { border: 1px solid white; }

#multi-room-template { display: none; }

#multi-rooms .active td { background-color: #4caf50; border-bottom-color:greenyellow;}


#players .boring .player-spectate,
#players .boring .player-join,

#players .pending .player-invite,
#players .pending .player-spectate,

#players .waiting .player-invite,

#players .multi .player-invite,
#players .multi .player-join

{ display:none; }
