body, html { width: 100%; height: 100%; margin: 0; padding:0; }
body { background: black; color: white; }

/*
#opponents { position: fixed; right: 5px; top: 5px; width: calc(100% - 250px);}
#game-status { position: absolute; top:5px; left: 0; }
.main-pill-bottle { position: fixed; top:15px; left: 15px; }
*/

@media only screen and (min-width: 512px) {
    body { padding: 15px; margin: 8px; width: 512px; margin: auto; height: calc( 100% - 30px );}
}

#game-grid { width: 100%; height:100%; position: relative; touch-action: manipulation; }
#game-status { display: inline-block; width: 25%; position:absolute; top:15px; }
#main { display: inline-block; width: 50%; margin-left: 25%; position:absolute; }
#opponents { position:absolute; right:0; top:15px; width: 25%;}
#opponents .pill-bottle-root > h3 { margin:0; }

.cache-status { position: fixed; top:0; background-color: black; color: yellowgreen; padding:15px; z-index:2; }

#my-settings { display: inline-block; margin:5px; width:calc(50% - 12px); }
#multiplayer { display: inline-block; margin:5px; width:calc(50% - 12px); }

/*
#multi-rooms-table { border:1px solid white; border-collapse: collapse;}
#multi-rooms-table th, #multi-rooms-table td { border: 1px solid white; }

#multi-room-template { display: none; }

*/
#multiplayer .my-room { /*background-color: #4caf50;*/ border-color:greenyellow;}


#menu label { display: block; position:relative; margin-bottom:7px;}
#menu label input, #menu label select { position:absolute; right:0;}

#menu fieldset { width: calc( 100% - 32px); }
#menu button, button { border-radius: 10px; margin-bottom: 7px; padding: 3px 10px; background-color: black; color: white; }

#menu .btn-group button { border-radius: 0;  }
#menu .btn-group button:first-child { border-radius: 10px 0 0 10px;  }
#menu .btn-group button:last-child { border-radius: 0 10px 10px 0;  }

#menu .btn-group .btn { border: 2px outset buttonface; }
#menu .btn-group .btn:first-child { border-radius: 10px 0 0 10px; }
#menu .btn-group .btn:last-child { border-radius: 0 10px 10px 0; }

#menu { position: relative; vertical-align: top; }
#menu > div { position: absolute; top:0;}
#menu > div:first-child { left:0; }
#menu > div:last-child { right:0; }

.room-template .readyness { float: right; }

.row { width: 100%; display:inline-block;}
.col-10 { width:calc( 83.3% - 2px ); display:inline-block; }
.col-8 { width:calc( 66.6% - 2px ); display:inline-block; }
.col-6 { width:calc( 50% - 2px ); display:inline-block; }
.col-2 { width:calc( 16.6% - 2px ); display:inline-block; }

#players button { text-align:left; }

#players { list-style-type: none; padding-left:0; }

#multiplayer .room-player-list {
    padding-left:0;
    list-style-type: none;
    width:100%;
}
#multiplayer .room-player-list .lvl { width: 2em; text-align:center; }
#multiplayer .room-player-list .kick { text-align: center; }
#multiplayer .room-player-list .player-name { text-align: left; }

.chat-box { height: 100px; overflow-y:auto; overflow-x:hidden; border: 0px solid gray; border-width:2px 0;}
.chat-input {width:120px;}

.chat-box p { border: 1px solid blue; background-color:blue; color: white; border-radius: 0 10px 10px 0; padding: 2px 10px 2px 0; margin: 2px 15px 2px 0;}
.chat-box p.my-chat { border-color: yellowgreen; background-color: hsla(120, 50%, 50%, 1); color: white; border-radius: 10px 0 0 10px; padding: 2px 0 2px 10px; margin: 2px 0 2px 15px; }




/** Dr Mario **/

.pill-bottle-root { display: inline-block; position:relative; }
.pill-bottle-root .pill-bottle-status { font-size: 9px; }

.pill-bottle-root .pill-bottle-msg { position:absolute; top: 90px; left: 0; bottom: 16px; right: 64px; background-color:rgba(55,55,55,.5); font-weight: bold; line-height: 78px; text-align:center;}

.pill-bottle-root.pill-bottle-preview > h3 { width: 28px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;  font-size: .75em; }

#opponents .pill-bottle-root .pill-bottle-msg { top:110px; }
/*.dr-mario .pill-bottle-root canvas.pill-bottle-canvas { border: 1px solid gainsboro; display: inline-block; }*/

/* Tap Controller */
.game-in-progress .tap-controller,
.tap-controller.shown { display: block; position: fixed; top:0; left:0; bottom:0; right:0; }
.tap-controller { display:none; user-select: none; -o-user-select:none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; touch-action: manipulation; }

.tap-controller .zone { border: 2px solid limegreen; color: limegreen; position: absolute; display: block; background-color: rgba(55,55,55,.5); touch-action: manipulation;}

.game-in-progress .tap-controller .zone { opacity:.25; background-color: transparent; }