<!doctype html>
<html>

<head>
    <title>Dr OUX</title>
    <link rel="stylesheet" href="assets/css/Controller.css?v5">
    <link rel="stylesheet" href="assets/css/DrMario.css?v5">
    <link rel="stylesheet" href="assets/css/index.css?v5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
</head>

<body ng-app="app">
    <div id="menu" ng-controller="MenuController">
        <div id="my-settings">
            <label> My Name
                <input type="text" ng-model="multi_name" style="width: 10em;">
            </label>
            <br />

            <label> Difficulty <span style="width:2em;">{{difficulty}}</span>
                <input type="range" min="1" max="20" ng-model="difficulty">
            </label>
            <br />

            <label> Touch Sensitivity <span style="width:2em;">{{sensitivity}}</span>
                <input type="range" min="1" max="16" ng-model="sensitivity">
            </label>
            <br />

            <label>
                Controls
                <select ng-model="controls" ng-options="key as kmap.label for ( key, kmap ) in keyMap"></select>
            </label>
            <br />
            <label>
                Soundtrack
                <select id="soundtrack" ng-model="soundtrack">
                    <option value="none">None</option>
                    <option value="random">Random</option>
                    <option value="nes-fever">NES fever</option>
                    <option value="nes-chill">NES chill</option>
                    <option value="wii-fever">Wii fever</option>
                    <option value="wii-chill">Wii chill</option>
                    <option value="wii-cough">Wii cough</option>
                    <option value="wii-sneeze">Wii sneeze</option>
                </select>
            </label>
            <br />

            <button id="start-single"> Start Single Player </button>
            <br />

            <button id="host-new-multi"> New MultiPlayer Game </button>
            <br />

            <fieldset style="display:inline-block;">
                <legend>Idle online players</legend>
                <ul id="players">
                    <li ng-repeat="player in players | filter:{uuid: '!'+uuid} ">
                        <span class="player-name">{{player.name}}</span>
                        <button class="player-invite" ng-click="invite(player.uuid)">
                            Invite
                        </button>
                    </li>
                </ul>
            </fieldset>
        </div>

        <div id="multiplayer">
            <div id="opened-rooms">
                <fieldset id="room-template">
                    <legend>
                        <span class="room-value-name"> John Smith's Game</span>
                        <span class="readyness">
                            <span class="room-value-clientReady">0</span> / <span class="room-value-clientCount">1</span>
                        </span>
                    </legend>
                    <ul class="room-player-list">
                        <li class="room-player-template">
                            <span class="room-player-value-name"> John Smith </span>
                            <span class="room-player-ready"> - </span>
                        </li>
                    </ul>

                    <button class="room-join-btn">Join</button>
                    <button class="start-multi"> Ready! </button>
                </fieldset>

            </div>
        </div>
    </div>

    <div id="main"></div>

    <div id="opponents"></div>

    <img id="sprite" src="assets/img/reduced-sprites.png" style="display:none;" />
    <img id="sprite2" src="assets/img/sprites2.png" style="display:none;" />

    <script src="/socket.io/socket.io.js?v5"></script>
    <script src="assets/vendor/js/uuidv1.js?v5"></script>
    <script src="assets/js/Debug.js?v5"></script>
    <script src="assets/js/jsonp.js?v5"></script>
    <script src="assets/js/preference.js?v5"></script>
    <script src="assets/vendor/js/angular.min.js?v5"></script>

    <script src="assets/js/Sounds.js?v5"></script>
    <script src="assets/js/Inputs.js?v5"></script>
    <script src="assets/js/Controller.js?v5"></script>
    <script src="assets/js/Pill.js?v5"></script>
    <script src="assets/js/Board.js?v5"></script>
    <script src="assets/js/PillBottle.js?v5"></script>
    <script src="assets/js/DrMario.js?v5"></script>
    <script src="assets/js/Multiplayer.js?v5"></script>
    <script src="assets/js/ng-menu.js?v5"></script>
    <script src="assets/js/index.js?v5"></script>

    <!--pre id="dump"></pre>
    <script>
        
        document.addEventListener("keydown",function(ev){
            var r = "";
            for(var k in ev)
                r += k+":" + ev[k]+"\n";

            document.getElementById("dump").innerText = r;
        });

        document.addEventListener("click",function(ev){
            document.getElementById("dump").innerText = "";
        });
        

    </script-->
</body>

</html>