<!doctype html>
<html  manifest="assets/manifest/html5.appcache">

<head>
    <title>Dr OUX</title>
    <link rel="manifest" href="assets/manifest/android-add-to-home.json">
    
    <link rel="stylesheet" href="assets/css/Controller.css">
    <link rel="stylesheet" href="assets/css/DrMario.css">
    <link rel="stylesheet" href="assets/css/index.css">
   
    <meta name="theme-color" content="#000000">
    <!-- icon in the highest resolution we need it for -->
    <link rel="icon" sizes="192x192" href="assets/img/icon-192.png">
    <!-- reuse same icon for Safari -->
    <link rel="apple-touch-icon" href="assets/img/icon-192.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
</head>

<body ng-app="app" ng-controller="MenuController">
    <button ng-click="backToHome()" ng-show="playing" class="row">End Game</button>
    <div id="menu" ng-hide="playing">
        <div id="my-settings">
            <label> My Name
                <input type="text" ng-model="multi_name" style="width: 10em;">
            </label>
            

            <label> Difficulty
                <input type="number" min="1" max="20" ng-model="difficulty">
            </label>
            

            <label> Touch Sensitivity
                <input type="number" min="1" max="16" ng-model="sensitivity">
            </label>
            

            <label>
                Controls
                <select ng-model="controls" ng-options="key as kmap.label for ( key, kmap ) in keyMap"></select>
            </label>
            
            <label>
                Soundtrack
                <select id="soundtrack" ng-model="soundtrack">
                    <option value="none">None</option>
                    <option value="random">Random</option>
                    <option value="nes-fever">NES fever</option>
                    <option value="nes-chill">NES chill</option>
                    <option value="wii-fever">Wii fever</option>
                    <option value="wii-chill">Wii chill</option>
                    <option value="wii-cough">Wii cough</option>
                    <option value="wii-sneeze">Wii sneeze</option>
                </select>
            </label>

            <label>
                Enable Sound
                <input type="checkbox" ng-model="enable_sound" ng-true-value="'yes'" ng-false-value="'no'">
            </label>
            

            <button id="start-single" class="row" ng-click="startSingle()"> Start Single Player </button>
            
            <button ng-if="!hosting" ng-click="host()" class="row"> New MultiPlayer Game </button>
            
            <p ng-if="hosting && !room_uuid">
                Creating game...
            </p>

            <fieldset ng-if="hosting && room_uuid">
                <legend>Multiplayer</legend>
                <legend>
                    Game Rules
                    <select ng-model="game_rules.combos" ng-options="key as value.label for (key,value) in gameRules"></select>
                    <p>{{game_rules.combos ? gameRules[game_rules.combos].description : "Please select one"}}</p>
                </legend>
                <h4>Invite players</h4>
                <ul id="players">
                    <li ng-repeat="player in players | filter:{uuid: '!'+uuid} " ng-if="player.room==null">
                        <button class="row" ng-click="invite(player)" ng-disabled="player.invited">{{player.name}}</button>
                    </li>
                </ul>
            </fieldset>
        </div>

        <div id="multiplayer">
            <fieldset ng-if="invitations.length>0">
                <legend>Invitation{{invitations.length.length > 1 ? 's' :''}}</legend>
                <button class="row" ng-repeat="invitation in invitations" ng-click="acceptInvitation(invitation)">
                    Join {{invitation.from.name}}
                </button>
            </fieldset>
            <fieldset ng-repeat="room in rooms | orderBy : orderMyRoomFirst" ng-class="{'my-room':room.uuid==room_uuid}">
                <legend>
                    {{ room.name }}
                </legend>
                <dl class="rules">
                    <dt ng-if="room.gameRules.combos">{{gameRules[room.gameRules.combos].label}}</dt>
                    <dd ng-if="room.gameRules.combos">{{gameRules[room.gameRules.combos].description}}</dd>
                </dl>
                <hr/>
                <ul class="room-player-list">
                    <li ng-repeat="player in players | filter: {room: {name:room.name}}">
                        <span ng-if="hosting && room.uuid == room_uuid && player.uuid != uuid" ng-click="kick(player)"> x </span>
                        <span class="room-player-ready">
                            {{((player.uuid==uuid && is_ready) || player.ready) ? '&#10004;' : '-'}}
                        </span>
                        {{player.name}}
                    </li>
                </ul>

                <div ng-if="room.uuid == room_uuid">

                    <div class="chat-box">
                        <p ng-repeat="chat in chats" ng-class="{'my-chat':chat.from.uuid==uuid}">
                            <span ng-if="chat.from.uuid!=uuid"> {{chat.from.name}}: </span>
                            {{chat.msg}}
                        </p>
                    </div>
                    <form ng-submit="submitChat(chat_input); chat_input=''">
                        <input type="text" ng-model="chat_input" placeholder="Chat - enter to send" class="chat-input">
                        <button>Send</button>
                    </form>
                </div>
                
                <button ng-if="room.uuid != room_uuid" class="row" ng-click="join(room)">Join</button>
                <button ng-if="room.uuid == room_uuid" ng-disabled="is_ready" class="row" ng-click="ready()"> Ready! </button>
            </fieldset>

        </div>
    </div>

    <!--fieldset style="position:absolute; left:0; top:500px;">
        <legend>players</legend>
        <pre>{{players|json}}</pre>
    </fieldset>
    
    <fieldset style="position:absolute; left:600px; top:500px;">
            <legend>rooms</legend>
            <pre>{{rooms|json}}</pre>
        </fieldset-->

    <div id="main"></div>

    <div id="opponents"></div>

    <img id="sprite" src="assets/img/reduced-sprites.png" style="display:none;" />
    <img id="sprite2" src="assets/img/sprites2.png" style="display:none;" />

    <script src="/socket.io/socket.io.js"></script>
    <script src="assets/vendor/js/uuidv1.js"></script>
    <script src="assets/js/Debug.js"></script>
    <script src="assets/js/jsonp.js"></script>
    <script src="assets/js/preference.js"></script>
    <script src="assets/vendor/js/angular.min.js"></script>

    <script src="assets/js/Sounds.js"></script>
    <script src="assets/js/Inputs.js"></script>
    <script src="assets/js/Controller.js"></script>
    <script src="assets/js/Pill.js"></script>
    <script src="assets/js/Board.js"></script>
    <script src="assets/js/BoardPreview.js"></script>
    <script src="assets/js/PillBottle.js"></script>
    <script src="assets/js/DrMario.js"></script>
    <script src="assets/js/Multiplayer.js"></script>
    <script src="assets/js/ng-menu.js"></script>
    <script src="assets/js/index.js"></script>

    <!--pre id="dump"></pre>
    <script>
        
        document.addEventListener("keydown",function(ev){
            var r = "";
            for(var k in ev)
                r += k+":" + ev[k]+"\n";

            document.getElementById("dump").innerText = r;
        });

        document.addEventListener("click",function(ev){
            document.getElementById("dump").innerText = "";
        });
        

    </script-->
</body>

</html>